/* Base styles for all pages */
* {
    box-sizing: border-box; /* Ensure padding and borders are included in width calculations */
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: sans-serif; /* Set a default font */
    background-color: #404040; /* Light background color */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

html, body {
    min-height: 100vh; /* Allow body to grow beyond viewport height when needed */
    width: 100%; /* Ensure the body and html take up the full width of the viewport */
    max-width: 100vw; /* Prevent content from exceeding viewport width */
    margin: 0; /* Remove default margin */
}

main {
    flex: 1; /* Push the footer to the bottom when there is little content */
}

/* Extra styles */

.mailto {
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underline from links */
}

.mailto:hover {
    text-decoration: underline; /* Underline on hover */
}


/* Responsive styles for smaller screens */

@media (min-width: 1025px) {
    main {
        display: flex; /* Use Flexbox for layout */
        justify-content: space-between; /* Space between the main content and the aside */
        align-items: flex-start; /* Align items at the top */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {
        display: flex; /* Use Flexbox for layout */
        justify-content: space-between; /* Space between the main content and the aside */
        align-items: flex-start; /* Align items at the top */
    }
  }

@media (max-width: 767px) {

}



/* Banner container */
#cookie-banner {
    position: fixed;
    bottom: -200px; /* Start hidden below the screen */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    background-color: #232323;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
    opacity: 0;
    animation: slideUp 0.8s forwards;
}

/* Banner animation */
@keyframes slideUp {
    0% {
        bottom: -200px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 1;
    }
}

/* Buttons container */
.cookie-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Buttons */
#cookie-banner button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#cookie-banner button:hover {
    background-color: #0088cc;
    transform: scale(1.05);
}
