/* Base styles for all pages */
#content {
    background-color: #404040; /* Replace with your desired color */
    padding: 40px;
    color: #fff;
    min-height: 400px;
    margin-top: 60px;
}

/* ===== Large screens (Desktops) ===== */
@media (min-width: 1025px) {
    
}
/* ===== Medium screens (Tablets) ===== */
@media (min-width: 768px) and (max-width: 1024px) {
   
}

/* ===== Small screens (Phones) ===== */
@media (max-width: 767px) {
    
}


